*{
    margin: 0px;
    padding: 0px;
}

body {

    justify-content: center;
    min-height: 100vh;
    background: url(img.jpg) no-repeat;
    background-size: cover;
    background-position: center;

}
h1 {
    font-size: 30px;
    text-align: center;
    background-color: transparent;
    margin-bottom: 10px;
    color: #e6e6e6;
}

p{
    font-size: 39px;
    color:#e6e6e6ec;
    
    
}

